body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: black;
}

h1 {
    color: #000408;
}

h2 {
    color: #031e46;
}

#webmusterCanvas {
    width: 100%;
    height: 400px;
    background-color: #f1e8e8;
    border: 5px solid #a7a6a6;
}

nav.w3-bar {
    box-shadow: 0 2px 5px #979797;
}

.error-message {
    color: red;
    margin-top: 5px;
}