body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: black;
}

h1 {
    color: #000408;
}

h2 {
    color: #031e46;
}

#webmusterCanvas {
    border: 5px solid black;
    width: 100%;
}

#nachricht {
    width: 100%;
    height: 200px;
}

.error-message {
    color: red;
    margin-top: 5px;
}